<%- include('header'); -%>

    <h2>This is about page</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio asperiores dolor quidem ea, exercitationem quam magni tempore. At dolorem iusto dolore doloribus reprehenderit fugiat ad illo ipsum adipisci dolorum? </p>

<%- include('footer'); -%>